@forward './includeMedia.scss';
@font-face {
  font-family: 'Hubballi';
  src: url('../assets/fonts/Hubballi-Regular.ttf');
}
@font-face {
  font-family: 'Source Code Pro Regular';
  src: url('../assets/fonts/SourceCodePro-Regular.ttf');
}

$break-xs: "<376px";
$break-sm: "<768px";
$break-md: ">=768px";
$break-lg: ">1024px";

$color-white: white;

$typeface-primary: 'Hubballi', serif;
$typeface-secondary: 'Source Code Pro Regular', sans-serif;

$border-radius: 5px;

$box-shadow: 2px 2px 8px 2px rgba(25, 25, 25, 0.3);
$text-shadow: 2px 2px 4px rgba(25, 25, 25, 0.2);

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
